<div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
    aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="staticBackdropLabel"><b>Advertencia</b></h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Cerrar"></button>
            </div>
            <div class="modal-body" id="modal-body-content">
                <!-- Aquí se inyectará el contenido dinámico -->
            </div>
            <div class="modal-footer">
                <button type="button" class="btn botonModal" data-bs-dismiss="modal"><b>Cerrar</b></button>
            </div>
        </div>
    </div>
</div>