<div class="modal fade" id="modalConfirmarBorrarDashboard" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
    aria-labelledby="modalConfirmarBorrarDashboardLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="modalConfirmarBorrarDashboardLabel"><b>Advertencia</b></h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Cerrar"></button>
            </div>
            <div class="modal-body" id="modal-body-content">
                <div class="alert alert-warning mt-3">¿Estás seguro de eliminar este dato?<br>Recordá que esto es irreversible</div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn botonModal" data-bs-dismiss="modal" id="noBorrar"><b>No</b></button>
                <button type="button" class="btn botonModal" data-bs-dismiss="modal" id="siBorrar"><b>Si</b></button>
            </div>
        </div>
    </div>
</div>