<nav class="navbar navbar-expand-lg py-3" style="background-color: #EEEFF0;">
    <div class="container">
        <a class="navbar-brand fw-bold fs-2" style="color: #E1A43B; font-family: 'Playfair Display', serif;">Nexo
            Hotel</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
            aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav ms-auto d-flex align-items-center">
                <li class="nav-item">
                    <a class="nav-link fw-bold" href="/" style="color: #E1A43B;">Inicio</a>
                </li>
                <li class="nav-item ms-2">
                    <a class="btn btn-sm fw-bold py-2 px-3" type="button" href="/reservar"
                        style="color:white; background-color: #E1A43B; border-color: #E1A43B; border-radius: 10px;">
                        Reservar
                    </a>
                </li>
            </ul>
        </div>
    </div>
</nav>