<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.13.1/font/bootstrap-icons.min.css">
    <link href="https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/css/style.css">
    <title>Nexo Hotel - Panel de gestión</title>
</head>

<body class="d-flex flex-column">

    <%- include('partials/navbarDashboard') %>

        <div class="header-reserva">
            <h1 class="reservarH1">Bienvenido</h1>
            <h2 class="reservarH1">Estas en tu panel de gestión de administrador</h2>
        </div>

        <div class="mt-5 table-responsive-xxl divTablaDashboard ">
            <table class="table table-hover align-middle table-bordered">
                <thead class="table-light">
                    <tr>
                        <th scope="col">Número de solicitud</th>
                        <th scope="col">Fecha de llegada</th>
                        <th scope="col">Fecha de salida</th>
                        <th scope="col">Nombre</th>
                        <th scope="col">Apellido</th>
                        <th scope="col">DNI</th>
                        <th scope="col">Correo</th>
                        <th scope="col">Estado de la reserva</th>
                        <th scope="col">Acciones</th>
                    </tr>
                </thead>
                <tbody class="table-group-divider datosBD">
                    <%# Acá se ponen los datos de forma dinámica traidos de la BD %>
                </tbody>
            </table>
        </div>

        <%- include(`partials/modalDashboardVerDatos`) %>

            <%- include(`partials/modalDashboardEditar`) %>

                <%- include(`partials/modalConfirmarBorrarDashboard`) %>

                    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/js/bootstrap.bundle.min.js"></script>
                    <script src="js/dashboard.js"></script>
</body>

</html>