<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css">
    <link href="https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/css/style.css">
    <title>Nexo Hotel - Inicio</title>
</head>

<body class="d-flex flex-column">

    <%- include('partials/navbarDashboard') %>

        <div class="header-reserva">
            <h1 class="reservarH1">Bienvenido</h1>
            <h2 class="reservarH1">Estas en tu panel de gestión de administrador</h2>
        </div>

        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/js/bootstrap.bundle.min.js"></script>
</body>

</html>