<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css">
    <link href="https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/css/style.css">
    <title>Nexo Hotel - Reservar</title>
</head>

<body class="d-flex flex-column">

    <%- include('partials/navbar') %>

        <div class="header-reserva">
            <h1 class="reservarH1">Reserva tu estancia</h1>
            <h2 class="reservarH1">Completa el formulario para garantizar tu habitación</h2>
        </div>

        <div class="form-section">
            <form class="row g-3 formulario-reserva" id="formularioReserva">

                <h3>Datos de la reserva</h3>

                <div class="col-md-6">
                    <label class="form-label" for="fechaLlegada">Fecha de llegada</label>
                    <input type="date" class="form-control" name="fechaLlegada" id="fechaLlegada" required>
                </div>

                <div class="col-md-6">
                    <label class="form-label" for="fechaSalida">Fecha de salida</label>
                    <input type="date" class="form-control" name="fechaSalida" id="fechaSalida" required>
                </div>

                <div class="col-md-6">
                    <label class="form-label" for="tipoHabitacion">Tipo de habitación</label>
                    <select class="form-select" id="tipoHabitacion" name="tipoHabitacion" required>
                        <option value="">Seleccionar</option>
                        <option value="Individual ($50.000 por noche)">Individual ($50.000 por noche)</option>
                        <option value="Doble ($100.000 por noche)">Doble ($100.000 por noche)</option>
                        <option value="Suite ($250.000 por noche)">Suite ($250.000 por noche)</option>
                    </select>
                </div>

                <div class="col-md-6">
                    <label class="form-label" for="camas">Cama</label>
                    <select class="form-select" id="camas" name="Camas" required>
                        <option value="">Seleccionar</option>
                        <option value="Matrimonial">Matrimonial</option>
                        <option value="Twins">Twins</option>
                    </select>
                </div>

                <div class="col-md-6">
                    <label class="form-label" for="adultos">Adultos</label>
                    <select id="adultos" class="form-select" name="Adultos" required>
                        <option value="">Seleccionar</option>
                        <option value="1 adulto">1 adulto</option>
                        <option value="2 adultos">2 adultos</option>
                        <option value="3 adultos">3 adultos</option>
                        <option value="4 adultos">4 adultos</option>
                    </select>
                </div>

                <div class="col-md-6">
                    <label class="form-label" for="menores">Menores</label>
                    <select id="menores" class="form-select" name="Menores" required>
                        <option value="">Seleccionar</option>
                        <option value="Ninguno">Ninguno</option>
                        <option value="1 menor">1 menor</option>
                        <option value="2 menores">2 menores</option>
                        <option value="3 menores">3 menores</option>
                        <option value="4 menores">4 menores</option>
                    </select>
                </div>

                <h3 class="mt-5">Datos del huésped</h3>

                <div class="col-12">
                    <label class="form-label" for="nombreCliente">Nombre/s</label>
                    <input type="text" class="form-control" id="nombreCliente" name="nombreCliente" required>
                </div>

                <div class="col-12">
                    <label class="form-label" for="apellidoCliente">Apellido/s</label>
                    <input type="text" class="form-control" id="apellidoCliente" name="apellidoCliente" required>
                </div>

                <div class="col-12">
                    <label class="form-label" for="dniCliente">DNI</label>
                    <input type="text" class="form-control" id="dniCliente" name="dniCliente" required>
                    <div class="form-text">Introducir solo números sin puntos ni espacios</div>
                </div>

                <div class="col-12">
                    <label class="form-label" for="correoCliente">Correo electrónico</label>
                    <input type="email" class="form-control" id="correoCliente" name="correoCliente" required>
                </div>

                <div class="col-12">
                    <button type="submit" class="btn btn-confirmar">Confirmar reserva</button>
                </div>

            </form>
        </div>


        <!-- Modal -->
        <div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
            aria-labelledby="staticBackdropLabel" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered">
                <div class="modal-content">
                    <div class="modal-header">
                        <h1 class="modal-title fs-5" id="staticBackdropLabel"><b>Estado de tu reserva</b></h1>
                    </div>
                    <div class="modal-body" id="modal-body-content">
                        <!-- Aquí se inyectará el contenido dinámico -->
                    </div>
                </div>
            </div>
        </div>

        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/js/bootstrap.bundle.min.js"></script>
        <script src="js/reservar.js"></script>
</body>

</html>