<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css">
    <title>Nexo Hotel - Reservar</title>
</head>

<body class="d-flex flex-column" style="height: 100vh; margin: 0;">

    <%- include(`partials/navbar`) %>

    <div style="background-color: #E1A43B;">
        <h1 class="text-white" style="font-family: 'Playfair Display', serif;">Reserva tu estancia</h1>
        <h2 class="text-white" style="font-family: 'Playfair Display', serif;">Completa el formulario para garantizar tu habitación</h2>
    </div>

</body>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/js/bootstrap.bundle.min.js"></script>

</html>