<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css">
    <link href="https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/css/style.css">
    <title>Nexo Hotel - Reservar</title>
</head>

<body class="d-flex flex-column">

    <%- include('partials/navbar') %>

        <div class="header-reserva">
            <h1 class="reservarH1">Reserva tu estancia</h1>
            <h2 class="reservarH1">Completa el formulario para garantizar tu habitación</h2>
        </div>

        <div class="form-section">
            <form class="row g-3 formulario-reserva" action="/registrarReserva" method="post">

                <h3>Datos de la reserva</h3>

                <div class="col-md-6">
                    <label class="form-label" for="fechaLlegada">Fecha de llegada</label>
                    <input type="date" class="form-control" name="fechaLlegada" required>
                </div>

                <div class="col-md-6">
                    <label class="form-label" for="fechaSalida">Fecha de salida</label>
                    <input type="date" class="form-control" name="fechaSalida" required>
                </div>

                <div class="col-md-6">
                    <label class="form-label" for="tipoHabitacion">Tipo de habitación</label>
                    <select class="form-select" name="tipoHabitacion" required>
                        <option>Seleccionar</option>
                        <option>Individual ($50.000 por noche)</option>
                        <option>Doble ($100.000 por noche)</option>
                        <option>Suite ($250.000 por noche)</option>
                    </select>
                </div>

                <div class="col-md-6">
                    <label class="form-label" for="cantidadPersonas">Cantidad de personas</label>
                    <select name="cantidadPersonas" class="form-select" required>
                        <option>Seleccionar</option>
                        <option>1 persona</option>
                        <option>2 personas</option>
                        <option>3 personas</option>
                        <option>4 personas</option>
                    </select>
                </div>

                <h3 class="mt-5">Datos del huésped</h3>

                <div class="col-12">
                    <label class="form-label" for="nombreCliente">Nombre/s</label>
                    <input type="text" class="form-control" name="nombreCliente" required>
                </div>

                <div class="col-12">
                    <label class="form-label" for="apellidoCliente">Apellido/s</label>
                    <input type="text" class="form-control" name="apellidoCliente" required>
                </div>

                <div class="col-12">
                    <label class="form-label" for="dniCliente">DNI</label>
                    <input type="text" class="form-control" name="dniCliente" required>
                </div>

                <div class="col-12">
                    <label class="form-label" for="correoCliente">Correo electrónico</label>
                    <input type="email" class="form-control" name="correoCliente" required>
                </div>

                <div class="col-12">
                    <button type="submit" class="btn btn-confirmar">Confirmar reserva</button>
                </div>

            </form>
        </div>

        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/js/bootstrap.bundle.min.js"></script>
</body>

</html>